<div class="offer-modal open" id="offer-modal" data-controller="modal" data-target="offer.modal">
    <div class="modal-content">
      <span class="modal-close" data-action="click->modal#closeModal"><i class="fas fa-times"></i></span>
      <div class="offer-info">
        <h4 class="product-name" data-target="modal.title"><%= offer.title %></h4>
        <%= image_tag offer.src_image, class: "product-image", data: { target: "modal.photo" } %>
        <div class="modal-price" style="<%= 'display:none;' unless (offer.price.present? && offer.price > 0.1) %>">
            <span class="coin">R$</span><span class="value" data-target="modal.price"><%= number_with_precision(offer.price, precision: 2) %></span>
        </div>
        <hr>
        <div class="body" data-target="modal.body">
          <%= offer.body %>
        </div>
        <div class="modal-buttons">
            <div class="coupon" data-target="modal.coupon" style="<%= 'display:none;' unless offer.coupon.present? %>"><%= offer.coupon %></div>
            <%= link_to "Me leve para Loja", offer.link, class: "main-btn", target: "_blank", data: { target: "modal.link" } %>
        </div>
      </div>
      <div class="warning">
        *os preços são dinâmicos e estão sujeitos a alterações do lojista a qualquer momento.
      </div>
    </div>
</div>
