<div class="offer" data-controller="offer">
  <%= image_tag offer.src_image, data: { target: 'offer.photo' } %>
  <hr>
  <h3 data-target="offer.title" data-title="<%= offer.title %>"><%= offer.title.truncate(30) %></h3>
  <p style="<%= 'display:none;' unless (offer.price.present? && offer.price > 0.1) %>">
    <span class="coin">R$</span>
    <span class="digit" data-target="offer.price"><%= number_with_precision(offer.price, precision: 2) %></span>
  </p>
  <% if offer.coupon.present? %>
    <span class="coupon" data-target="offer.coupon" style="display:none;"><%= offer.coupon %></span>
  <% end %>
  <span class="body" data-target="offer.body" style="display:none;"><%= offer.body %></span>
  <span class="link" data-target="offer.link" style="display:none;"><%= offer.link %></span>
  <span id="submit_<%= offer.id %>%" class="main-btn" data-action="click->offer#initModal">Ver Instruções</span>
</div>