
<div class="banners">
  <%= image_tag "banner2.png", class: 'banner' %>
  <%= image_tag "banner2.png", class: 'banner' %>

</div>
<div class="offers">
  <% @offers.each do |offer| %>
    <div class="offer" data-controller="offer">
      <%= cl_image_tag offer.photo.key, data: { target: 'offer.photo' } %>
      <hr>
      <h3 data-target="offer.title" data-title="<%= offer.title %>"><%= offer.title.truncate(30) %></h3>
      <p>
        <span class="coin">R$</span>
        <span class="digit" data-target="offer.price"><%= number_with_precision(offer.price, precision: 2) %></span>
      </p>
      <% if offer.coupon.present? %>
        <span class="coupon" data-target="offer.coupon" style="display:none;"><%= offer.coupon %></span>
      <% end %>
      <span class="body" data-target="offer.body" style="display:none;"><%= offer.body %></span>
      <span class="link" data-target="offer.link" style="display:none;"><%= offer.link %></span>
      <span class="main-btn" data-action="click->offer#initModal">Ver Instruções</span>
    </div>
  <% end %>
</div>

<%= render "offer_modal" %>



