<div class="banners">
  <%= image_tag "banner2.png", class: 'banner' %>
  <%= image_tag "banner2.png", class: 'banner' %>
</div>
<div class="stores">
  <% @stores.each do |store| %>
    <% if store.logo.present? %>
      <%= link_to store do %>
        <%= image_tag store.logo, class: 'store-logo' %>
      <% end %>
    <% end %>
  <% end %>
</div>
<div class="offers">
  <% @offers.each do |offer| %>
    <%= render "shared/offer_card", offer: offer %>
  <% end %>
</div>

<%= render "shared/offer_modal_active", offer: @offer %>
