<!DOCTYPE html>
<html>
  <head>
    <title>BlackSave</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container m-4 m-auto">
      <%= render 'shared/flashes' %>
      <%= yield %>
    </div>
    <footer>
      <p>Faça parte das nossas redes sociais</p>
      <div class="social">
        <a href="https://www.facebook.com/savewhey"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/savewhey/?hl=en"><i class="fab fa-instagram"></i></a>
        <a href="https://t.me/joinchat/QIM9bBr4R3_ycQISUgTLKw"><i class="fab fa-telegram"></i></a>
      </div>
    </footer>
  </body> 
</html>
