<!DOCTYPE html>
<html>
  <head>
    <title>BlackSave</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container m-4 m-auto">
      <%= render 'shared/flashes' %>
      <%= yield %>
    </div>
  </body>
</html>
